<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>add_products</title>
</head>
<body>
	
	<th:block th:insert="Header.html"></th:block>
	
	<div class="container">
		
	<div class="card">  
		
		<div class="card-header text-center text-white bg-primary">
			
			<h4>Add  New Products</h4>
		</div>
		
		<div class="card-body">
			
			<form action="/addproduct" method="post">
			
			<div class="row p-2">
			        <div class="col-4">Product Name</div>
				    <div class="col-6">
										    
				           <input type="text" name="prod_name" class="form-control">
				    </div>
			</div>
						
			<div class="row p-2">
			        <div class="col-4">Price</div>
				    <div class="col-6">
										    
				           <input type="text" name="price" class="form-control">
				    </div>
			</div>
			<div class="row p-2">
			        <div class="col-4">Weight(in grams)</div>
				    <div class="col-6">
										    
				           <input type="text" name="weight" class="form-control">
				    </div>
			</div>
			<div class="row p-2">
			        <div class="col-4">Description</div>
				    <div class="col-6">
										    
				           <textarea rows="5" type="text" name="description" class="form-control"></textarea>
				    </div>
			</div>
			
			<div class="row p-2">
			        <div class="col-4"></div>
				    <div class="col-6">
										    
				           <center><input type="submit" value="Add"  class="btn btn-success btn-lg"></center>
				    </div>
			</div>
			
			</form>
			
			</div>
		
		<div class="card-footer text-center bg-warning">
			
			<h6>copyright@2023</h6>
		</div>
	</div>	
		
	</div>

</body>
</html>