<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>info</title>
</head>
<style>
	body{
		position: relative;
	}
	.container-fluid li a:hover{
		color: red;
	}
</style>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
	
	<th:block th:insert="Header.html"></th:block>
	
	<div class="mt-4   rounded">
		<h1>About Our Products</h1>
		<p>There are many variations of passages of Lorem Ipsum
			 available, but the majority have suffered.There are
			  many variations of passages of Lorem Ipsum available,
			   but the majority have sufferedThere are many variations
			    of passages of Lorem Ipsum available, but the majority have suffered...
			    
			    <button style="color: chocolate; border-radius: 30px;">Read More</button>
			    
			    </p>
	</div>

<div id="section1" class="container-fluid bg-success text-white" style="padding:50px 20px;">
  <h1>About</h1>
  <p>Our products are 100% original quality.</p>
  <p>We are very trustable in the market.</p>
</div>

<div id="section2" class="container-fluid bg-warning" style="padding:50px 20px;">
  <h1>Address</h1>
  <p>Kathmandu,Street-7,near BhatBhateni</p>
  <p>+977 9823494674</p>
  <p>+977 9703309684</p>
  <p>ansrbestforever@gmail.com</p>
</div>

<div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
  <h1>Links</h1>
  <ul>
	  <li><a href="/home">Home</a></li>
	  <li><a href="#">Shop</a></li>
	  <li><a href="#">Quality</a></li>
	  <li><a href="/contact">Contact</a></li>
  </ul>
</div>
	
</body>
</html>