<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>services</title>
</head>
<body>
	
	<th:block th:insert="Header.html"></th:block>	
	
	<div class="container-fluid">
		<h1> Available Services:-</h1>
			<div class="row">
				<div class="col-sm-3 pt-3"> 
					<div class="card">
							<h4 class="card-title">Online Services</h4>
						<p class="text">
							1.Online payment is available here.<br>
							2.Online order gets free home delivery service.
						</p>
						
					</div>
				</div>
			</div>
			<div class="col-sm-3 pt-3"> 
					<div class="card">
						<h4 class="card-title">Offline Services</h4>
						<p class="card-text">
							1.You will feel-like peaceful environment here.<br>
							2.Our customers services are faster as compare to others.
						</p>
					</div>
				</div>
			</div>
		</div>

</body>
</html>